[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nikolatsbtech
[access "refs/for/refs/*"]
	read = group user/nikolatsbtech
	push = group user/nikolatsbtech
	label-Code-Review = -2..+2 group user/nikolatsbtech
	label-Verified = -1..+1 group user/nikolatsbtech
	rebase = group user/nikolatsbtech
	removeReviewer = group user/nikolatsbtech
	submit = group user/nikolatsbtech
[access "refs/heads/*"]
	read = group user/nikolatsbtech
	create = group user/nikolatsbtech
	push = +force group user/nikolatsbtech
	pushMerge = group user/nikolatsbtech
[access "refs/tags/*"]
	push = group user/nikolatsbtech
	push = +force group user/nikolatsbtech
